<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2n7G7D-9CaIftU8XiQ0c-efWpS7IWvBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>265766790566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.btech.superapp.baseapp</string>
	<key>PROJECT_ID</key>
	<string>superapp-btech</string>
	<key>STORAGE_BUCKET</key>
	<string>superapp-btech.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265766790566:ios:0c65ed00e48ce92d5a5b67</string>
</dict>
</plist>